body {
    background-image: url("https://i.imgur.com/vXcvIA8.jpeg");
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 40% 50% 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.sideBar {
    display: flex;
    align-items: center;
    height: 800px;
}

.ctaContent {
    margin: 5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 40rem;
    margin: auto;
    padding-top: 2rem;
  /* Form outline */
  border: 1px solid #ccc;
  border-radius: 1em;

}

.form-group {
    display: contents;
}

form label {
    display: flex;
    text-align: right;
    padding-left: 6rem;
}

form input {
    margin-right: 6rem;
}
  
.button {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}

footer {
    grid-row: 4; /* Footer row */
    grid-column: 1 / span 2; /* Spans both columns */
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
}