
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1F2937;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0;
    background-color: #1F2937;
    height: 10%;
    border-bottom: 2px solid #F9FAF8;
}

#logo {
    padding-left: 2%;
}

.navGroup {
    display: flex;
    align-items: center;
}

.navLinks {
    padding-right: 20em;
    color: #F9FAF8;
    align-items: center;
    text-decoration: none;
}

.navLinks:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: sans-serif;
}

.textContainerMain, .imageContainerMain {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 1%;
}

.textContainerMain {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 2%;
}

.imageContainerMain {
    justify-content: center;
    align-items: flex-start;
    margin: 1%;
}

.imageHeader {
    border-radius: 5%;
}


.textContainer h1, .textContainer p, .textContainer .buttonContainer {
    margin-top: 2%;
}

.btnMain {
    color: white;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 5%;
    border-color: white;
    width: 200%;
    height: 2em;
    margin-top: 25%;
    
}

.btnMain:hover {
    background-color: lime;
    color: brown;
    border-color: brown;
    transition: 0.7s;
}

.contentBlockOne {
    text-align: center;
    padding: 2%;
    color: #1F2937;
    background-color: #F9FAF8;
}

.imageBlockCBOne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.cbOneimageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.avoCBOne {
    max-width: 100%;
    border-radius: 3%;
}

.contentBlockTwo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 2%;
    color: #F9FAF8;
    background-color: #1F2937;
}

#cbTwoQuoteAuthor {
    padding-left: 50%;
}

.contentBlockThree {
    padding: 2%;
    color: #3882F6;
    background-color: #F9FAF8;
}

.ctaBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 2% 20%
}

.ctaText {
    flex: 1;
    font-weight: bolder;
}

.btnCTA {
    color: #3882F6;
    font-weight: bold;
    background-color: white;
    border-radius: 5%;
    border-color: #3882F6;
    width: 200%;
    height: 3em;   
    align-items: flex-start;
    font-weight: bold;
}

footer {
    color: #F9FAF8;
    text-align: center;
}